<div class="search">
    <form class="form-inline ">
        <input class="form-control" type="text" placeholder="Enter Github Username" [(ngModel)]="username" name="username" (keyup)="spotifySearch()" required="required">

        <button class="btn btn-outline-success" type="submit" (click)="search(username)">Search</button>
        <div class="form-inline searched" *ngIf="searchedUsers" >
         <div class="innerBox" (click)="search(user.login)" [class.Xhover]="selected === i" (mouseout)="selected = null" (mouseover)="selected=i"   *ngFor="let user of searchedUsers; let i=index;" >

              <img class="small_av" src="{{user.avatar_url}}"  />

                {{user.login}}

          </div>


        </div>
    </form>
</div>

<div *ngIf="user">
    <div class="row " style="margin-top:5px">

        <div class="col-sm-12" align="center">
            <img class="thumbnail-avtar" src="{{user.avatar_url}}" alt="user_avatar">
            <h3>{{user.login}}</h3>
            <h4>Followers: <b>{{user.followers}}</b></h4>
            <h4>Following:<b> {{user.following}}</b></h4>
        </div>


    </div>

    <div class="row followers">

        <h3>Followers</h3>

        <div  *ngFor="let follower of followers">

            <div class="col-md-2 border-bottom" align="center">
                <div class="row">
                    <img class="thumbnail-avtar" src="{{follower.avatar_url}}" alt="avatar">
                </div>

                <a class="label label-success" href="{{follower.html_url}}" target="_blank">{{follower.login}}</a>

            </div>
        </div>
    </div>
    <div class="search">
        <button type="submit" class="btn btn-success" (click)="loadMoreFollowers()" *ngIf="flag">Load More</button>
    </div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="noUser">
    <strong>Oh snap!</strong> There is no user with searched name.
</div>
