/* You can add global styles to this file, and also import other style files */

.thumbnail-avtar{
  height: 30%;
  width: 30%;
}
p{
  text-align:center;
}
.Xhover{
  background-color: #e3f2fd;
  color: #337ab7;
  cursor:pointer;
}
.innerBox{
  box-shadow: 0 1px 2px rgba(0,0,0,0.19), 0 1px 2px rgba(0,0,0,0.23);
  padding: 1%;
  margin: 2%;
  text-decoration-style: solid;
  font-size: large;
  font-weight: 500;
  font-family: sans-serif;
}
.searched{
  padding: 2%;
  z-index: 99;
  max-height: 360px;
  overflow-y: auto;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.small_av{
   height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 10%
}


.search1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  font-size: medium;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;

}
.followers{
  margin: 5px;
  border-top: 2px solid;

  padding: 5px
}
.border-bottom{

  margin-bottom: 3%;
}
